@charset "UTF-8";

body{
    margin: 0%;
}

#CONTEINER{
    width: 100%;
    height: 1000px;
    background-color:#999898;
}

#LOGO{
    display: block;
    float: left;
    width: 10%;
    height: 40px;
    background-color: #005425;
    padding-top:1.5%;

}

/*CLASSE DA IMAGEM DO LOGO*/
.LOGO{ 
    width: 100%;
    height: 80%;
    padding-left: 0.9%;

}

#TOPO{
    display: block;
    float: left;
    width: 90%; /*Largura do topo*/
    background-color: #005425;
    margin-bottom: 0%;
}





#produtos{ /*caixas que as imgs então dentro*/
    display: block; /*vou transformar em blocos 
    para posicionar onde eu quiser*/
    float: left; /*vai flutuar para esquerda*/
    background-color: #999898;
    width: 30%;
    height: 400px; /*deixei a caixa com largura fixa para as imagens não pegarem toda a cx*/
    border-style: groove; /*borda na caixa*/
    border-radius: 18px; /*arrendodando a borda*/
    margin-top: 5%;
    margin-left: 1.5%;
    text-align: center;
    font-family: Castellar;
    font-size: 18px;
    border-color: #d8d8d8;
    margin-bottom: 3%;
    
}


/*criei uma classe para o tamanho dos produtos*/
.tamanhoImagens{ 
    width: 100%; /*peguei 100$ da caixa que a imagem está*/
    height:80%;  /*a imagem pegará apenas 80% de altura para sobrar espaço p o texto*/
    border-radius: 18px;
}








#RODAPE{
    clear:both;/*Para que seu rodapé fique na parte de baixo da caixa*/
    background-color: #005425;
    width: 100%;
    height:29px;
    font-family:Clarendon BT;
    color:rgb(4, 5, 5);
    font-size: 14px;
    text-align: center;
    padding-top: 3%; /*espaço dentro da caixa na parte superior*/
    border-radius: 10px;
}

/*MENU*/
nav{
	max-width: 100%;
     /*MEU NAV É ONDE ESTÃO OS LINKS, PEGARÁ A TELA TODA */
    height: 50px; /*A ALTURA VC ESCOLHE, EU DEIXEI PIXEL PARA FICAR FIXA*/
     background-color: #005425;
     padding-top: 1%;
}


nav ul{
	list-style: none; /*DESATIVA AS PROPRIEDADES DO ELEMENTO*/
	margin:0px;
	padding:0px;
	text-align:center;
    font-family: fredericka the great;
}



nav ul li{
	display: inline-block;	/*blocos na mesma linha*/
	margin-right:10px; /*distância entre os botoes*/
}

nav ul li a{
	padding: 5px;
	text-decoration: none; /*retirar a linha abaixo dos links normais*/
	color: aliceblue;
	display: block;
	text-align: center;
	background-color: #005425;
    /*cor do botao sem clicar. 
    Aqui está da mesma cor do nav por isso não está aparecendo*/
}


nav ul li a:hover {
	background-color: #000000; /*cor quando passar o mouse*/
	transition: all .5s; 
	border-radius:10px; /*arredondado*/
}



