@charset "UTF-8";

body{
    margin: 0%;
}

#CONTEINER{
    width: 100%;
    height: 1000px;
    background-color:#999898;
}

#LOGO{
    display: block;
    float: left;
    width: 10%;
    height: 40px;
    background-color: #005425;
    padding-top:1.5%;

}

/*CLASSE DA IMAGEM DO LOGO*/
.Logoimagem{ 
    width: 100%;
    height: 80%;
    padding-left: 0.9%;

}

#TOPO{
    display: block;
    float: left;
    width: 90%; /*Largura do topo*/
    background-color: #005425;
    margin-bottom: 3%;
}
#conteudo_formulario{
    margin: auto; /* vms centrelizar o conteudo da div fo formulario*/
    width: 50%;
    font-family: Clarendon BT;
    color: rgb(255, 254, 254);
    text-align: center;
    margin-bottom: 30%;
}

input,textarea{
    font-family:Clarendon BT ;
    font-weight: normal;
    font-size: 1.2em;
    background-color: rgb(255, 250, 250);
    font-family: Clarendon BT;
    border-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}
input:hover, textarea:hover{  /* quando passar o mouse na caixa de texto mudara de cor*/
    background-color: #8f908f;
}

#botoes{

    background-color: #005425;
    text-align: center;
    color: white;
    border-radius: 18px;

}

label{ /* distanciando a caixa do rótulo*/
    padding-right: 1%;
    font-size: 1.4em;
    margin: auto;

}


#RODAPE{
    clear:both;/*Para que seu rodapé fique na parte de baixo da caixa*/
    background-color: #005425;
    width: 100%;
    height:29px;
    font-family:Clarendon BT;
    color:rgb(4, 5, 5);
    font-size: 14px;
    text-align: center;
    padding-top: 3%; /*espaço dentro da caixa na parte superior*/
    border-radius: 10px;
    
}

/*MENU*/
nav{
	max-width: 100%;
     /*MEU NAV É ONDE ESTÃO OS LINKS, PEGARÁ A TELA TODA */
    height: 50px; /*A ALTURA VC ESCOLHE, EU DEIXEI PIXEL PARA FICAR FIXA*/
     background-color: #005425;
     padding-top: 1%;
}


nav ul{
	list-style: none; /*DESATIVA AS PROPRIEDADES DO ELEMENTO*/
	margin:0px;
	padding:0px;
	text-align:center;
    font-family: fredericka the great;
}



nav ul li{
	display: inline-block;	/*blocos na mesma linha*/
	margin-right:10px; /*distância entre os botoes*/
}

nav ul li a{
	padding: 5px;
	text-decoration: none; /*retirar a linha abaixo dos links normais*/
	color: aliceblue;
	display: block;
	text-align: center;
	background-color: #005425;
    /*cor do botao sem clicar. 
    Aqui está da mesma cor do nav por isso não está aparecendo*/
}


nav ul li a:hover {
	background-color: #000000; /*cor quando passar o mouse*/
	transition: all .5s; 
	border-radius:10px; /*arredondado*/
}


